Repository leosuncin/javascript-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, git add -u

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add -u"
  ],
  "*.{json,md}": ["prettier --write", "git add -u"]
}

Add user service
  src/index.js
  src/services/user.js
Due: prettier --write, eslint --fix, git add -u

Request lorem ipsum text
  src/services/user.js
Due: prettier --write, eslint --fix, git add -u

Render user list
  index.html
  src/index.js
  src/renderUser.js
Due: prettier --write, eslint --fix, git add -u

Set browserlist
  package.json
Due: prettier --write, git add -u

fixup! Render user list
  index.html
  src/renderUser.js
Due: prettier --write, eslint --fix, git add -u

Add basic styles
  index.html
  src/styles/index.css
Due: none

Add README.md
  README.md
Due: prettier --write, git add -u

Setup automerge of pull requests from dependabot
  .kodiak.toml
  dependabot.yml
Due: none

Fix error in Kodiak configuration
  .kodiak.toml
Due: none
